<h2 class="button-panel-title">
		<div class="button-panel">
	
				</div>

		<span class="title">New Invoice</span>
	</h2>
    	<div class="clearb"></div>

	<div class="title-rule"></div>
<%= render :partial => 'form' %>
    