
/*.menu ul{ list-style:none; marign:0; padding:0;}*/
.menu li{ display:block; float:left; margin:0px 2px 0px 0px;padding:10px 0px 7px 0px; }
.menu li a{ background:#5286bd; color:#fff; border:2px solid #3d7fc6; border-bottom:none; font-size:14px; text-decoration:none; font-weight:bold; padding:5px 19px 6px 18px;}
/*.menu li a:hover{ background:#000;}*/
