.banktab {
	font-size: 11px;
	line-height: 16px;
	border: 1px solid #000;
	border-right: 0;
}
.banktab a:link, .banktab a:active, .banktab a:visited {
	text-decoration: none;
	color: #000;
	display: block;
}
.banktab a:hover {
	background-color: transparent;
	color: #000;
}
.banktab th.pricingSelect {
	background-color: #eee;
	font: bold 16px Arial, Helvetica, sans-serif;
	color: #000;
	text-align: left;
	padding: 40px 0 0 5px;
}
.banktab th.pricingSelect.signup_buttons {
	padding-top: 60px;
}
.banktab th {
	background-color: #0d83dd;
	font: bold 12px Arial, Helvetica, sans-serif;
	color: #fff;
	text-align: center;
	padding: 15px 0;
	border-right: 1px solid #000;
	border-bottom: 1px solid #000;
}
.banktab th div {
	font-size: 16px;
	padding-bottom: 7px;
}
.banktab th strong {
	font-size: 38px;
	line-height: 38px;
	letter-spacing: -1px;
	text-shadow: rgba(0, 0, 0, 0.5) 1px 1px 2px;
}
.banktab span.cents {
	font-size: 12px;
	font-weight: normal;
	line-height: 12px;
	letter-spacing: 0;
	text-shadow: none;
	margin: 0 -13px 0 1px;
	vertical-align: super;
}
.banktab th span.permonth {
	font-size: 11px;
	color: #a2d2f6;
}
.banktab th span.tagline {
	display: block;
	padding-top: 7px;
	line-height: 14px;
}
.banktab th.column_1 {
	background-color: #0660C7;
}
.banktab th.column_1 span.permonth {
	color: #8CB9DB;
}
.banktab th.column_2 {
	background-color: #0673c7;
}
.banktab th.column_2 span.permonth {
	color: #9bc7e9;
}
.banktab th.column_4 {
	background-color: #2592e6;
}
.banktab th.column_4 span.permonth {
	color: #a8d3f5;
}
.banktab th.column_5 {
	background-color: #999;
}
.banktab th.column_5 span.permonth {
	color: #d6d6d6;
}
.banktab th td.pricing_buttons {
	border: 0;
	padding: 5px 0 0;
}
.banktab th td.pricing_buttons div {
	padding-bottom: 0;
}
.banktab td {
	padding: 5px 0;
	border-right: 1px solid #000;
	border-bottom: 1px solid #ccc;
	text-align: center;
}
.banktab td.pricingLeft {
	text-align: left;
	padding-left: 5px;
	padding-right: 5px;
}
.banktab td.pricingLeft a {
	color: #00f;
	text-decoration: underline;
	display: inline;
}
.banktab .pricingLeft a:hover {
	background-color: #00f;
	color: #fff;
	text-decoration: none;
}
.banktab tr.pricingLastRow td {
	padding: 6px 0;
	border-bottom: 0;
}
.banktab tr.pricingLastRow td table td {
	border: 0;
}
.banktab .button_green {
	width: 76px;
}
.banktab .button_green a {
	padding: 0 0 0 7px;
	color: #fff;
	text-align: center;
}
.clienttab {
	font-size: 11px;
	line-height: 16px;
	border: 1px solid #515151;
	background:#000;
	border-right: 0;
	height:40px;
}
.clienttab td {
	padding:0;
	
	font-size:14px;
	font-weight:bold;
}
