

<ul id="settingmenu" >
<li class="wiz_left wiz_on_left wiz_end_on_left"></li>
    <li class="settingmenu_first"><%= link_to 'Company',profile_users_path, :class=>"on"%></li>
 

 <li class="settingmenu_arrow settingmenu_on_right"></li>
  <li class="settingmenu_first"><%= link_to 'Taxes',taxes_users_path %></li>
      <li class="settingmenu_arrow"></li>
  <li><a href="colorlogo.html"  >Colors & Logo </a></li>
   <li class="settingmenu_arrow"></li>
 
  
  <li class="settingmenu_first"><a href="temp.html" >Templates</a></li>
  <li class="settingmenu_arrow"></li>
  <li class="settingmenu_first"><a href="permissions.html" >Permissions</a></li>
  <li class="settingmenu_arrow"></li>
  <li class="settingmenu_first"><a href="onlinepayment.html" >Online Payment</a></li>
  <li class="settingmenu_arrow"></li>
  <li class="settingmenu_first"><a href="email.html" >Email</a></li>
  <li class="settingmenu_arrow"></li>
  <li class="settingmenu_first"><a href="misc.html" >Misc</a></li>
 
</ul>