

          <div class="taxes fields" >
            <div class="sale">Sales Taxes</div>
              <div class="saleinput">
             <div class="input1">
            <%= f.text_field :name %>
               <strong>Tax name, e.g. VAT</strong>
             </div>
              <div class="input2">
               <%= f.text_field :percent %>
              </div>
               <div class="input3">
                <input name="" type="text" />
                <strong>Government tax ID, e.g. RT1700</strong>
               </div>
              </div>
			  <%#= remove_child_link "remove", f %>
          </div>
          
          