
<div  id="login_wrapper">
  <div  id="login_wrapper_main">
    <div class="innercontainer">
      <%= render :partial=>'settingsheader' %>
      <div class="clear"></div>
      
     
	  <%form_for @user_setting, :url => update_settings_users_path do |f|%>
	<div class="setting">
        <div class="inter">
          <h1> 
Invoice & Estimate Template</h1>
          <h2>Select a template and customize what appears on it.   </h2>
          <div class="separator"></div>
          <div class="clear"></div>
          <div class="template">
          
          <div class="temp"><a href="#"><img src="/images/temp1.jpg" alt="" /></a></div>
          <div class="temp"><a href="#"><img src="/images/temp2.jpg" alt="" /></a></div>
          </div>
          
              <div class="clear"></div>
          <div class="template">
          <div class="choose">Choose Your Template</div>
          <div class="nametemp">
          
            <%= f.select 'template', UserSetting::TEMPLATES%>
            <strong>Changes to your invoice template do not affect existing invoices.</strong>
          </div>
         
          </div>
          
          
          <div class="clear"></div>
          <div  style=" margin-left:330px; margin-top:20px;">
          <%= submit_tag 'Save',:class=>'upgrade' %>
          </div>
        </div>
      </div>
	  <%end%>
	 
    </div>
    <div class="clear"></div>
  </div>