 <div  id="login_wrapper">
  <div  id="login_wrapper_main">
    <div class="containernew ">  
    <div class="clBoth"></div>
    <div class="clearb"></div>    
    <br>   
 <h2 class="pt">Update Client</h2>
    <div class="clBoth"></div>

<%= render :partial => 'form' %>

</div>
    <div class="clear"></div>
  </div>
</div>