     <br/>
	 <br/>
	 <div align="center">
	 <ul>
        <li class="none"><%= link_to "Upload Bank Statement", :action=>"new"%></li>
        <li><%= link_to "View List of all Uploaded Bank Statements", :action=>"list" %></li>
        <li><%= link_to "View Unallocated Items", :action=>"list_unallocated" %></li>
      </ul>
	  </div>
