


<div class="container container_pricing">
<fieldset style="padding-left: 20px;" id="logSearchForm">
				<legend>Login Page Search</legend>
				<br>
                <% form_for :find_domains, :url=>{:controller=>'user_sessions',:action=>'find_domains'} do %>
					 <div style="color:#FF2A55"><%= flash[:error] if flash[:error] %></div>
					<label for="email">Email address:</label>
					<%= text_field_tag :email,params[:email],:size=>"25", :id=>"email" %>
					<input type="submit" style="vertical-align: middle;" value="Find Login Page"><br>
				<% end %>
				<br>
			</fieldset>


<div style="margin-top:20px;">
	<% if !@pages.blank?%>
	 <h2>Login Page Found</h2>
	 <p>The following iEasy systems were found with accounts using the email<br/>
		address you entered. To login to your system select your login page below.</p>
	 <% for page in @pages%>
	 <div style="clear:both;">
		 <%= link_to page.company_name+"-Click here to login...", login_path  %>
	 </div>	 
	  <% end %> 
	<% end %>
</div>


</div>

